<div class="jumbotron text-center">
  <h1 class="display-4"><%= t '.welcome' %></h1>
  <p class="lead">We provide a clear board with all the schedule meetings and the member involve into the meeting.</p>
  <hr class="my-4">
  <p>Test it out and leave us your comments!.</p>
  <%=link_to 'Create meeting!',new_meeting_path, class:'btn btn-primary btn-lg' %>
</div>

<div class="container">
  <%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%=link_to meeting.name, meeting_path(meeting.id) %>
      <p>from <%=meeting.start_date_format%> till <%=meeting.end_date_format%></p>
      <p><%=meeting_tag(meeting)%></p>
    </div>
  <% end %>
<% end %>
</div>
